In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [ ]:
spark = SparkSession.builder.appName('DataCleaning').getOrCreate()

## Load the Data

In [5]:
df = spark.read.csv('/home/satyajit/Downloads/customer_orders.csv', header=True, inferSchema=True)

In [6]:
## Print Schema
df.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- order_date: date (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- unit_price: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- is_member: boolean (nullable = true)
 |-- member_since: date (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip_code: integer (nullable = true)
 |-- country: string (nullable = true)

## Handle Missing Values

In [8]:
## Count missing values

df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).toPandas()

,customer_id,first_name,last_name,email,phone,order_date,product_id,product_name,quantity,unit_price,total_amount,is_member,member_since,address,city,state,zip_code,country
0,0,1,2,0,1,0,0,0,0,0,0,0,5,0,0,0,0,0

In [12]:
## Fill missing first_name with 'Unknown' values

df = df.withColumn('first_name', when(col('first_name').isNull(), 'Unknown')\
                    .otherwise(col('first_name')))

In [13]:
## Fill missing last_name with empty string

df = df.withColumn('last_name', when(col('last_name').isNull(), '')\
                      .otherwise(col('first_name')))

In [14]:
## Fill missing phone with "Not Provided"

df = df.withColumn('phone', when(col('phone').isNull(), 'Not Provided')\
                      .otherwise(col('phone')))

In [15]:
df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).toPandas()

,customer_id,first_name,last_name,email,phone,order_date,product_id,product_name,quantity,unit_price,total_amount,is_member,member_since,address,city,state,zip_code,country
0,0,0,0,0,0,0,0,0,0,0,0,0,5,0,0,0,0,0